<% layout('partials/master') %>

<div class="content login-form">
    <form action="/forgot_password" method="POST">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="login-header">Forgot Password</div>

        <div style="margin-top: 20px; margin-bottom: 20px;">
            When you reset your password, you get an email sent to you with your new random generated. From there you can reset your password to whatever you please.
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" />
        </div> 
        <div>
            <input type="submit" value="Reset password"/>
        </div>

        <div class="login-form-disclaimer">Remember your password? <a href="/login">Log in</a></div>
    </form>
    <div></div>
</div>
