<% layout('partials/master') %>

<div class="content login-form">
    <form action="/signup" method="POST">
        <div class="login-header">Sign up</div>
        <div>
            <label>Username</label>
            <input type="text" name="username" />
        </div> 
        <div>
            <label>Password</label>
            <input type="password" name="password" />
        </div> 
        <div>
            <label>Confirm password</label>
            <input type="password" name="confirm_password" />
        </div> 
        <div>
            <label>Email</label>
            <input type="text" name="email" />
        </div> 
        <div>
            <label>Nickname (shown on leaderboard)</label>
            <input type="text" name="nickname" />
        </div> 
        <div>
            <input type="submit" value="Sign up"/>
        </div>

        <div class="login-form-disclaimer">Have an account? <a href="/login">Log in</a></div>
    </form>
    <div></div>
</div>