$white: #fff;
$black: #000;

$primary: #42a5f5;
$primary-light: #80d6ff;
$primary-dark: #0077c2;

$secondary: #ffee58;
$secondary-light: #ffff8b;
$secondary-dark: #c9bcff;

$primary-text: $black;
$secondary-text: $black;