@import "./elevate";
@import "./vars";
@import "./navbar";
@import "./leaderboard";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: $white;
    //background: darken($primary-dark, 20);
    background-image: url(/static/imgs/grain_background.png);
    background-color: #111;
    background-repeat: repeat;
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    //margin: 0 15%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
}

.content {
    width: 100%;
    padding: 10px 5%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    visibility: hidden;
}

.main-header {
    width: 92%;

    margin-top: 0;
    margin-left: 4%;
    margin-right: 4%;

    padding-top: 1.5rem;

    font-size: 3rem;
    text-align: center; 

    border-bottom: 2px solid #444444;
}


.problem-top-bar {
    margin-top: 20px;

    //grid-template-columns: 9fr 1fr;
    //grid-template-rows: 50px;
    width: 100%;
}


.problem-description {
    margin-top: 15px;
    font-size: 1.5rem;

    p {
        margin-bottom: 20px;
    }
}

.problem-container {
    background-image: url(/static/imgs/grain_background.png);
    background-color: #111;
    background-repeat: repeat;
    width: 100%;
}

.problem-page-container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 5fr;
}

.sidebar-problem-list {
    z-index: 50;
    box-shadow: 0 10px 0 0 transparent, 0 10px 0 0 transparent, 10px 0 0 0 transparent, 0 8px 8px 2px rgba(0, 0, 0, 0.5);
    background: darken($primary-dark, 22);
    position: relative;
    min-height: calc(100vh - #{$navbar-height});

    .sidebar-problem {
        width: 100%;

        display: grid;
        grid-template-columns: 32px 1fr;

        border-left-width: 24px;
        border-left-style: solid;

        transition: background-color 200ms ease-in-out;
        transition: width 200ms ease-in-out;
        background-color: inherit;

        cursor: pointer;
    }

    .sidebar-problem[selected], .sidebar-problem:hover {
        width: calc(100% + 24px);
    }

    .sidebar-problem[selected] {
        background-color: $primary !important;
    }

    .sidebar-problem:hover {
        background-color: darken($primary, 10);
    }

    .sidebar-problem-letter {
        text-align: center;
        background-color: darken($primary-dark, 30);
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }

    .sidebar-problem-name {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 5px;
        padding-top: 20px;
        padding-bottom: 20px;

        margin-left: 10px;
        margin-right: 10px;
    }
}

.problem-info {
    float: right;
    min-width: 350px;
    width: 25%;
    margin: 0 20px 20px 20px;

    position: relative;

    @include elevate(1px, rgba(0, 0, 0, 0.7));
    background: lighten($content-background, 10);

    .submit-btn {
        width: 100%;
        max-height: 100%;

        background: $secondary;
        color: $black;
        text-align: center;

        font-size: 1.75rem;
        line-height: 50px;

        &:hover {
            cursor: pointer;
            transition: 200ms all;
            background: $secondary-light;
        }
    }

    .submissions-btn {
        width: 100%;
        max-height: 100%;

        color: $black;
        background: $primary;
        text-align: center;

        font-size: 1.75rem;
        line-height: 50px;

        &:hover {
            transition: 200ms all;
            background: $primary-light;
            cursor: pointer;
        }
    }

    .problem-info-row {
        width: calc(100% - 16px);
        height: 32px;
        text-align: center;
        margin: 8px;
        border-bottom: 1px solid #444444;

        &:last-child {
            border-bottom: none;
        }
    }
}

.submission-submit-form {
    width: 100%;
    text-align: center;

    form {
        font-size: 2rem;
        padding: 20px;

        div {
            margin-bottom: 30px;
            min-width: 300px;
        }

        select {
            text-align: center;
            font-size: 1.1rem;

            width: 25%;
            min-width: 300px;
            padding: 10px;
            border: none;
            border-radius: 0px;
            background-color: $primary-dark;

            @include elevate(1px, black);

            option {
                border: none;
            }
        }

        .file-upload-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 25%;
            min-width: 300px;

            span {
                background-color: $primary-dark;
                font-size: 1.4rem;
                padding: 10px;
                border-radius: 4px;
                width: 100%;
                display: block;
                @include elevate(1px, black);
            }

            input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }

        input[type=submit] {
            background-color: $primary-dark;
            color: white;

            width: 25%;
            min-width: 300px;
            font-size: 1.4rem;
            padding: 10px;
            border: none;
            border-radius: 4px;
            display: inline-block;
            cursor: pointer;
            @include elevate(1px, black);
            transition: 400ms all;

            &:hover {
                background-color: $primary;
                @include elevate(3px, black);
            }
        }
    }
}

.result-status {
    margin-top:20px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.result-progress-bar-outline {
    width: 80%;
    min-width: 650px;
    height: 40px;
    margin: 20px auto 0px auto;
    background: darken($primary-dark, 10);
    box-shadow: 0px 2px 5px 2px #151515;

    .result-progress-bar {
        min-height: 100%;
        background: $primary;
    }

    &.completed {
        background: darken(#50ff50, 20);

        .result-progress-bar {
            background: #50ff50;
        }
    }

    &.error {
        background: darken(#ff5050, 20);

        .result-progress-bar {
            background: #ff5050;
        }
    }
}

.result-test-case-list {
    margin: 0 auto;
    box-shadow: 0px 4px 4px 1px #151515;

    width: 80%;
    min-width: 650px;

    .result-test-case {
        display: grid;
        grid-template-columns: 20px 1fr 1fr 1fr;

        margin: 0;
        width: 100%;
        height: 60px;
        background: darken($primary-dark, 15);

        &.alternate-color {
            background: darken($primary-dark, 10);
        }

        // &:last-child {
        //     border-bottom-left-radius: 1rem;
        //     border-bottom-right-radius: 1rem;

        //     .result-test-case-state {
        //         border-bottom-right-radius: 1rem;
        //     }
        // }

        & * {
            font-size: 1.5rem;
            line-height: 60px;
            text-align: center;
        }
    }
}

.result-language-name {
    width: 80%;
    min-width: 650px;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-size: 2rem;
}

.result-compile-error {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 650px;
    padding: 20px;

    background: #333;

    box-shadow: 0px 4px 4px 1px #151515;

    pre {
        white-space: pre-line;
    }
}

.result-source-code {
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    min-width: 650px;
    max-width: 80%;

    display: block;

    box-shadow: 0px 4px 4px 1px #151515;

    pre {
        font-size: 1rem;

        .hljs-ln {
            td {
                //Bit of space between line numbers and code
                padding-right: 8px;
            }
        }

        .hljs-ln-line {
            //THIS SHOULD BE PUT IN A PULL REQUEST TO THE HLJS REPO
            //This prevents the line from bleeding out of the container
            max-width: 200px !important;
        }
    }
}

.side-status {
    min-height: 100%;

    &.good-status {
        background-color: $test-case-good;
    }
    &.bad-status {
        background-color: darken($test-case-bad, 20);
    }
    &.pending-status {
        background-color: $test-case-pending;
    }
}

.submission-list {
    width: 80%;
    min-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .submission {
        display: grid;
        grid-template-columns: 32px 3fr 3fr 1fr 1fr 2fr;
        width: 100%;
        min-height: 60px;
        transition: background-color 150ms;

        background-color: darken($primary-dark, 15);
        &.alternate-color {
            background-color: darken($primary-dark, 10);
        }
        &:hover {
            background-color: darken($primary-dark, 5);
            &.alternate-color {
                background-color: $primary-dark;
            }
        }

        div {
            text-align: center;
            line-height: 60px;

            font-size: 1.25rem;
        }
    }
}

.submissions-bottom-btn {
    width: 30%;
    min-height: 40px; 
    margin: 20px auto 0px auto;

    background-color: darken($primary-dark, 5);
    color: white;
    font-size: 1.2rem;
    border-radius: 4px;

    text-align: center;
    line-height: 40px;

    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.7);

    transition: background-color 150ms;

    &:hover {
        background-color: $primary-dark;
    }
}

.login-form {
    width: 30%;
    height: calc(100vh - #{$navbar-height});
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    form {
        padding: 20px;
        background-color: #444;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);

        .login-header {
            text-align: center;
            font-size: 27pt;
            font-weight: 700;
        }

        input[type=text], input[type=password] {
            display: block;
            width: 100%;
            margin-bottom: 20px;

            padding: 8px;

            border: none;
            background-color: darken($primary-dark, 10);
            color: white;
            font-size: 1.3em;
            border-radius: 4px;

            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
        }

        input[type=submit] {
            display: block;
            width: 50%;
            margin: 10px auto;
            margin-top: 30px;

            border: none;
            background-color: $primary-dark;
            padding: 8px;
            font-size: 1.5rem;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }

        .login-form-disclaimer {
            text-align: center;

            a {
                color: #8a8aff;
                text-decoration: underline;
            }
        }
    }
}

.problem-list {
    min-width: 40%;
    max-width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .listed-problem {
        display: grid;
        grid-template-columns: 32px 64px minmax(200px, 3fr) minmax(200px, 1fr) minmax(100px, 1fr);
        grid-template-rows: 60px 10px;

        line-height: 60px;
        font-size: 2rem;

        cursor: pointer;
        background-color: darken($primary-dark, 10);
        transition: background-color 150ms;

        margin-bottom: 40px;

        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);

        .side-status {
            grid-row: 1 / -1;
            grid-column: 1 / 1;
        }

        &:hover {
            background-color: $primary-dark;
        }

        .listed-problem-letter {
            text-align: center;
            background: darken($primary-dark, 20);
        }

        .listed-problem-name {
            text-align: left;
            padding-left: 8px;
        }

        .listed-problem-status {
            text-align: center;
            font-size: 1.2rem;
        }

        .listed-problem-time-limit {
            text-align: right;
            padding-right: 8px;
            font-size: 1.2rem;
        }

        .problem-stats-container {
            grid-column: 2 / -1;
        }
    }
}

.problem-stats-container {
    width: 100%;
    min-height: 10px;
    float: left;
    font-size: 0;
    display: flex;

    .problem-stats {
        position: relative;

        font-size: 0;
        display: inline-block;
        padding: 0;
        margin: 0;
        min-height: 10px;
        flex-grow: 1;
       
        &.correct-color {
            background: darken($test-case-good, 30);
        }

        &.wrong-color {
            background: darken($test-case-bad, 20);
        }

        &.timed-out-color {
            background: darken(#aaaaff, 20);
        }

        &.other-color {
            background: lighten(#4f4f4f, 4);
        }

        .problem-stats-tooltip {
            width: 150px;
            //width: 100%;
            height: 30px;

            text-align: center;
            line-height: 30px;
            cursor: default;

            font-size: 14px;

            padding: 5px 0;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;

            background-color: inherit;
            color: $white;

            position: absolute;
            top: 0;
            left: calc(50% - 75px);

            opacity: 0;
            transition: opacity 30ms;
            z-index: 100;
        }

        &:hover .problem-stats-tooltip {
            opacity: 100;
        }
    }
}

.my-account-container {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    %alert {
        border-radius: 8px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

        width: 100%;
        height: 70px;
        line-height: 70px;
        margin-top: 20px;
        margin-bottom: 20px;

        font-size: 20pt;
    }

    .good-alert {
        @extend %alert;

        background-color: #50ff50;
        color: black;
    }

    .failed-alert {
        @extend %alert;

        background-color: #ff5050;
        color: black;
    }

    .hidden {
        display: none;
    }

    .my-account-header {
        width: 100%;
        text-align: left;
        font-size: 24pt;
        margin-top: 10px;
    }

    label {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 16pt;
        margin-top: 20px;
    }    

    input[type=text], input[type=password] {
        width: 100%;
        
        border: none;
        background: darken($primary-dark, 10);
        color: white;
        border-radius: 4px;

        font-size: 20pt;
        padding: 8px;

        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

        &[readonly] {
            background: darken($primary-dark, 20);
        }
    }

    input[type=submit] {
        width: 50%;

        border: none;
        background: darken($primary-dark, 10);
        color: white;
        border-radius: 4px;

        font-size: 16pt;
        padding: 12px;
        margin-top: 20px;
        margin-bottom: 50px;

        transition: background-color 200ms;

        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &:hover {
            background: $primary-dark;
        }
    }
}