.navbar {
  z-index: 100;
  width: 100%;
  background: #0077c2;
  height: 40px;
  box-shadow: 0px 0px 4.9px 0.7px inset #000;
  display: flex;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  cursor: pointer;
  font-size: 24px;
  list-style: none;
  line-height: 40px;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 4px;
  color: #f2f2f2;
  border-top-color: #0077c2;
  transition: 200ms all;
}
.navbar ul li.selected, .navbar ul li:hover {
  border-bottom: 2px solid #ffe766;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-image: url(/static/imgs/grain_background.png);
  background-color: black;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: calc(100vh - 40px);
}

.content {
  width: 100%;
  padding: 10px 5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  visibility: hidden;
}

.problem-name {
  width: 92%;
  margin-top: 1rem;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 3em;
  text-align: center;
  border-bottom: 2px solid #444444;
}

.problem-stats-container {
  margin-top: 0.75rem;
  margin-left: 13%;
  margin-right: 13%;
  width: 74%;
  min-height: 10px;
  float: left;
  font-size: 0;
  display: flex;
}
.problem-stats-container .problem-stats {
  position: relative;
  font-size: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-height: 10px;
  flex-grow: 1;
}
.problem-stats-container .problem-stats.correct-color {
  background: #12b312;
}
.problem-stats-container .problem-stats.wrong-color {
  background: #b31212;
}
.problem-stats-container .problem-stats.timed-out-color {
  background: #1212b3;
}
.problem-stats-container .problem-stats.other-color {
  background: #595959;
}
.problem-stats-container .problem-stats .problem-stats-tooltip {
  max-width: 90px;
  width: 100%;
  text-align: center;
  cursor: default;
  font-size: 14px;
  padding: 5px 0;
  border-top-right-radius: 6px;
  background-color: inherit;
  color: #fff;
  position: absolute;
  top: -15px;
  left: 0;
}

.problem-top-bar {
  margin-top: 20px;
  width: 100%;
}

.problem-description {
  margin-top: 15px;
  font-size: 1.5em;
}
.problem-description p {
  margin-bottom: 20px;
}

.problem-container {
  background-image: url(/static/imgs/grain_background.png);
  background-color: white;
  background-repeat: repeat;
  min-height: calc(100vh - 40px);
  width: 100%;
}

.problem-page-container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 5fr;
}

.problem-list {
  z-index: 50;
  box-shadow: 0 10px 0 0 transparent, 0 10px 0 0 transparent, 10px 0 0 0 transparent, 0 8px 8px 2px rgba(0, 0, 0, 0.5);
  background: #003252;
  position: relative;
}
.problem-list .sidebar-problem {
  width: 100%;
  border-left-width: 24px;
  border-left-style: solid;
  transition: background-color 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  background-color: inherit;
  cursor: pointer;
}
.problem-list .sidebar-problem[selected], .problem-list .sidebar-problem:hover {
  width: calc(100% + 24px);
}
.problem-list .sidebar-problem[selected] {
  background-color: #42a5f5 !important;
}
.problem-list .sidebar-problem:hover {
  background-color: #128ef2;
}
.problem-list .sidebar-problem-name {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.problem-info {
  float: right;
  min-width: 350px;
  width: 25%;
  margin: 0 20px 20px 20px;
  position: relative;
  box-shadow: 0px 1px 3px 0.25px rgba(0, 0, 0, 0.7);
  background: #3d3d3d;
}
.problem-info .submit-btn {
  width: 100%;
  max-height: 100%;
  background: #FFD700;
  color: #000;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
}
.problem-info .submit-btn:hover {
  cursor: pointer;
  transition: 200ms all;
  background: #ffe766;
}
.problem-info .submissions-btn {
  width: 100%;
  max-height: 100%;
  color: #000;
  background: #42a5f5;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
}
.problem-info .submissions-btn:hover {
  transition: 200ms all;
  background: #80d6ff;
  cursor: pointer;
}
.problem-info .problem-info-row {
  width: calc(100% - 16px);
  height: 32px;
  text-align: center;
  margin: 8px;
  border-bottom: 1px solid #444444;
}
.problem-info .problem-info-row:last-child {
  border-bottom: none;
}

.submission-submit-form {
  width: 100%;
  text-align: center;
}
.submission-submit-form form {
  font-size: 2em;
  padding: 20px;
}
.submission-submit-form form div {
  margin-bottom: 30px;
}
.submission-submit-form form select {
  text-align: center;
  font-size: 1.1rem;
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 0px;
  background-color: #0077c2;
  box-shadow: 0px 1px 3px 0.25px black;
}
.submission-submit-form form select option {
  border: none;
}
.submission-submit-form form .file-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 25%;
}
.submission-submit-form form .file-upload-wrapper span {
  background-color: #0077c2;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  display: block;
  box-shadow: 0px 1px 3px 0.25px black;
}
.submission-submit-form form .file-upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.submission-submit-form form input[type=submit] {
  background-color: #0077c2;
  color: white;
  width: 25%;
  font-size: 1.4rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 1px 3px 0.25px black;
  transition: 400ms all;
}
.submission-submit-form form input[type=submit]:hover {
  background-color: #42a5f5;
  box-shadow: 0px 3px 9px 0.75px black;
}

.result-status {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.result-progress-bar-outline {
  width: 80%;
  min-width: 650px;
  height: 40px;
  margin: 20px auto 0px auto;
  background: #00588f;
  box-shadow: 0px 2px 5px 2px #151515;
}
.result-progress-bar-outline .result-progress-bar {
  min-height: 100%;
  background: #42a5f5;
}
.result-progress-bar-outline.completed {
  background: #00e900;
}
.result-progress-bar-outline.completed .result-progress-bar {
  background: #50ff50;
}
.result-progress-bar-outline.error {
  background: #e90000;
}
.result-progress-bar-outline.error .result-progress-bar {
  background: #ff5050;
}

.result-test-case-list {
  margin: 0 auto;
  box-shadow: 0px 4px 4px 1px #151515;
  width: 80%;
  min-width: 650px;
}
.result-test-case-list .result-test-case {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr;
  margin: 0;
  width: 100%;
  height: 60px;
  background: #004876;
}
.result-test-case-list .result-test-case.alternate-color {
  background: #00588f;
}
.result-test-case-list .result-test-case .test-case-good {
  background: #50ff50;
}
.result-test-case-list .result-test-case .test-case-bad {
  background: #ff5050;
}
.result-test-case-list .result-test-case .test-case-pending {
  background: #5050ff;
}
.result-test-case-list .result-test-case * {
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
}

.result-language-name {
  width: 80%;
  min-width: 650px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.result-compile-error {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 650px;
  padding: 20px;
  background: #333;
  box-shadow: 0px 4px 4px 1px #151515;
}
.result-compile-error pre {
  white-space: pre-line;
}

.result-source-code {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 650px;
  max-width: 80%;
  display: block;
  box-shadow: 0px 4px 4px 1px #151515;
}
.result-source-code pre {
  font-size: 12pt;
}
.result-source-code pre .hljs-ln td {
  padding-right: 8px;
}
.result-source-code pre .hljs-ln-line {
  max-width: 200px !important;
}

/*# sourceMappingURL=core.css.map */
