.navbar {
  z-index: 10000;
  width: 100%;
  background: #0077c2;
  height: 47px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}
.navbar .navbar-logo {
  padding-left: 8px;
  text-align: center;
}
.navbar .navbar-logo img {
  max-height: calc(47px - 2px);
  display: inline;
}
.navbar ul {
  display: block;
  text-align: center;
  font-size: 0;
}
.navbar ul a li {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  list-style: none;
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 4px;
  color: #f2f2f2;
  border-top-color: #0077c2;
  transition: 200ms all;
}
.navbar ul a li.selected, .navbar ul a li:hover {
  border-bottom: 2px solid #ffe766;
  color: white;
}
.navbar .navbar-username {
  position: relative;
  max-height: 47px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  background-color: #00385c;
  transition: background-color 150ms;
}
.navbar .navbar-username:hover, .navbar .navbar-username.selected {
  background-color: #00588f;
}
.navbar .navbar-username:hover .navbar-username-dropdown, .navbar .navbar-username.selected .navbar-username-dropdown {
  display: block;
}
.navbar .navbar-username a {
  display: block;
  width: 100%;
}
.navbar .navbar-username .navbar-username-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.navbar .navbar-username .navbar-username-dropdown .navbar-username-dropdown-option {
  border-bottom: 1px solid #00588f;
  background: #00385c;
}
.navbar .navbar-username .navbar-username-dropdown .navbar-username-dropdown-option:last-child {
  border-bottom: none;
}
.navbar .navbar-username .navbar-username-dropdown .navbar-username-dropdown-option:hover {
  background-color: #00588f;
}

.leaderboard {
  text-align: center;
}
.leaderboard .leaderboard-time-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.leaderboard .leaderboard-time-container .leaderboard-time-remaining {
  font-size: 3rem;
}
.leaderboard .leaderboard-time-container .leaderboard-time-progress-outline {
  position: relative;
  width: 100%;
  background-color: #00385c;
  border-radius: 12px;
  clear: both;
  min-height: 24px;
}
.leaderboard .leaderboard-time-container .leaderboard-time-progress-outline .leaderboard-time-progress {
  position: absolute;
  min-height: 100%;
  background-color: #FFF200;
  border-radius: 12px;
}
.leaderboard .leaderboard-grid {
  display: inline-grid;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.7);
}
.leaderboard .leaderboard-grid .leaderboard-header {
  grid-row: 1/span 1;
  background-color: #001929;
  color: white;
  line-height: 64px;
  font-size: 2rem;
}
.leaderboard .leaderboard-grid .leaderboard-place-number {
  grid-column: 1/span 1;
  color: white;
  line-height: 48px;
  font-size: 1.7rem;
  background-color: #00385c;
}
.leaderboard .leaderboard-grid .leaderboard-place-number.alternate-color {
  background-color: #00588f;
}
.leaderboard .leaderboard-grid .leaderboard-place-number.highlighted {
  background-color: #0077c2;
}
.leaderboard .leaderboard-grid .leaderboard-username {
  grid-column: 2/span 1;
  background-color: #00385c;
  color: white;
  line-height: 48px;
  font-size: 1.7rem;
}
.leaderboard .leaderboard-grid .leaderboard-username.alternate-color {
  background-color: #00588f;
}
.leaderboard .leaderboard-grid .leaderboard-username.highlighted {
  background-color: #0077c2;
}
.leaderboard .leaderboard-grid .leaderboard-submission {
  color: white;
  line-height: 48px;
  font-size: 1.2rem;
  background-color: #00385c;
}
.leaderboard .leaderboard-grid .leaderboard-submission.alternate-color {
  background-color: #00588f;
}
.leaderboard .leaderboard-grid .leaderboard-submission.highlighted {
  background-color: #0077c2;
}
.leaderboard .leaderboard-grid .leaderboard-submission.good {
  background-color: #50ff50 !important;
  color: #111;
}
.leaderboard .leaderboard-grid .leaderboard-submission.bad {
  background-color: #e90000 !important;
}
.leaderboard .leaderboard-grid .leaderboard-time {
  color: white;
  line-height: 48px;
  font-size: 1.1rem;
  background-color: #00385c;
}
.leaderboard .leaderboard-grid .leaderboard-time.alternate-color {
  background-color: #00588f;
}
.leaderboard .leaderboard-grid .leaderboard-time.highlighted {
  background-color: #0077c2;
}

.problem-description .disclaimer {
  font-size: 16px;
  margin-bottom: 20px;
}
.problem-description .disclaimer a {
  text-decoration: underline;
  color: #aaf;
}
.problem-description .example-test-cases {
  display: block;
  width: 100%;
}
.problem-description .example-test-cases .example-row {
  display: flex;
  width: 100%;
  position: relative;
}
.problem-description .example-test-cases .example-in {
  width: 48%;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  margin-right: 0;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px;
  min-height: 150px;
  overflow-x: auto;
  display: inline-block;
}
.problem-description .example-test-cases .example-in-header {
  font-size: 32px;
  width: 48%;
  margin-right: 0;
  margin-bottom: 8px;
  text-align: center;
  float: left;
}
.problem-description .example-test-cases .example-out {
  width: 48%;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  margin-right: 0;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px;
  min-height: 150px;
  overflow-x: auto;
  display: inline-block;
}
.problem-description .example-test-cases .example-out-header {
  font-size: 32px;
  width: 48%;
  margin-right: 0;
  margin-bottom: 8px;
  text-align: center;
  float: left;
}

.help-page {
  padding: 10px 20%;
}
.help-page h2 {
  font-size: 2.5rem;
}
.help-page p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.help-page p a {
  color: #6464ff;
  text-decoration: underline;
}
.help-page ol {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.help-page ol * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.help-page blockquote {
  margin-top: 6px;
  margin-bottom: 6px;
  background: rgba(255, 255, 255, 0.05);
  border-left: 4px solid white;
  border-radius: 4px;
  padding: 8px;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.help-page em {
  font-size: 2rem;
  line-height: 2.3rem;
}
.help-page .breaker {
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  padding-top: 20px;
}
.help-page .spacer {
  margin-top: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-image: url(/static/imgs/grain_background.png);
  background-color: #111;
  background-repeat: repeat;
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: calc(100vh - 47px);
  position: relative;
}

.content {
  width: 100%;
  padding: 10px 5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  visibility: hidden;
}

.main-header {
  width: 92%;
  margin-top: 0;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid #444444;
}

.problem-top-bar {
  margin-top: 20px;
  width: 100%;
}

.problem-description {
  margin-top: 15px;
  font-size: 1.5rem;
}
.problem-description p {
  margin-bottom: 20px;
}

.problem-container {
  background-image: url(/static/imgs/grain_background.png);
  background-color: #111;
  background-repeat: repeat;
  width: 100%;
}

.problem-page-container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 5fr;
}

.sidebar-problem-list {
  z-index: 50;
  box-shadow: 0 10px 0 0 transparent, 0 10px 0 0 transparent, 10px 0 0 0 transparent, 0 8px 8px 2px rgba(0, 0, 0, 0.5);
  background: #003252;
  position: relative;
  min-height: calc(100vh - 47px);
}
.sidebar-problem-list .sidebar-problem {
  width: 100%;
  display: grid;
  grid-template-columns: 32px 1fr;
  border-left-width: 24px;
  border-left-style: solid;
  transition: background-color 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  background-color: inherit;
  cursor: pointer;
}
.sidebar-problem-list .sidebar-problem[selected], .sidebar-problem-list .sidebar-problem:hover {
  width: calc(100% + 24px);
}
.sidebar-problem-list .sidebar-problem[selected] {
  background-color: #42a5f5 !important;
}
.sidebar-problem-list .sidebar-problem:hover {
  background-color: #128ef2;
}
.sidebar-problem-list .sidebar-problem-letter {
  text-align: center;
  background-color: #001929;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}
.sidebar-problem-list .sidebar-problem-name {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.problem-info {
  float: right;
  min-width: 350px;
  width: 25%;
  margin: 0 20px 20px 20px;
  position: relative;
  box-shadow: 0px 1px 3px 0.25px rgba(0, 0, 0, 0.7);
  background: #3d3d3d;
}
.problem-info .submit-btn {
  width: 100%;
  max-height: 100%;
  background: #FFD700;
  color: #000;
  text-align: center;
  font-size: 1.75rem;
  line-height: 50px;
}
.problem-info .submit-btn:hover {
  cursor: pointer;
  transition: 200ms all;
  background: #ffe766;
}
.problem-info .submissions-btn {
  width: 100%;
  max-height: 100%;
  color: #000;
  background: #42a5f5;
  text-align: center;
  font-size: 1.75rem;
  line-height: 50px;
}
.problem-info .submissions-btn:hover {
  transition: 200ms all;
  background: #80d6ff;
  cursor: pointer;
}
.problem-info .problem-info-row {
  width: calc(100% - 16px);
  height: 32px;
  text-align: center;
  margin: 8px;
  border-bottom: 1px solid #444444;
}
.problem-info .problem-info-row:last-child {
  border-bottom: none;
}

.submission-submit-form {
  width: 100%;
  text-align: center;
}
.submission-submit-form form {
  font-size: 2rem;
  padding: 20px;
}
.submission-submit-form form div {
  margin-bottom: 30px;
  min-width: 300px;
}
.submission-submit-form form select {
  text-align: center;
  font-size: 1.1rem;
  width: 25%;
  min-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  background-color: #0077c2;
  box-shadow: 0px 1px 3px 0.25px black;
}
.submission-submit-form form select option {
  border: none;
}
.submission-submit-form form .file-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  clear: right;
  width: 25%;
  min-width: 300px;
}
.submission-submit-form form .file-upload-wrapper span {
  background-color: #0077c2;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  display: block;
  box-shadow: 0px 1px 3px 0.25px black;
}
.submission-submit-form form .file-upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.submission-submit-form form .switch-btn span {
  cursor: pointer;
  background-color: #0077c2;
  transition: background-color 200ms;
}
.submission-submit-form form .switch-btn span:hover {
  background-color: #42a5f5;
}
.submission-submit-form form .text-editor {
  width: 70%;
  display: inline-block;
}
.submission-submit-form form .text-editor textarea {
  font-family: monospace;
  font-weight: 400;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  min-height: 500px;
  resize: none;
  overflow-x: auto;
  white-space: nowrap;
}
.submission-submit-form form input[type=submit] {
  background-color: #0077c2;
  color: white;
  width: 25%;
  min-width: 300px;
  font-size: 1.4rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 1px 3px 0.25px black;
  transition: 400ms all;
}
.submission-submit-form form input[type=submit]:hover {
  background-color: #42a5f5;
  box-shadow: 0px 3px 9px 0.75px black;
}

.result-status {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.result-status .resubmit-button {
  font-size: 24px;
  width: 20%;
  min-width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 200ms;
  background-color: #0077c2;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.7);
}
.result-status .resubmit-button:hover {
  background-color: #42a5f5;
}

.result-progress-bar-outline {
  width: 80%;
  min-width: 650px;
  height: 25px;
  margin: 20px auto 0px auto;
  background: #00588f;
  box-shadow: 0px 2px 5px 2px #151515;
}
.result-progress-bar-outline .result-progress-bar {
  min-height: 100%;
  background: #42a5f5;
}
.result-progress-bar-outline.completed {
  background: #00e900;
}
.result-progress-bar-outline.completed .result-progress-bar {
  background: #50ff50;
}
.result-progress-bar-outline.error {
  background: #e90000;
}
.result-progress-bar-outline.error .result-progress-bar {
  background: #ff5050;
}

.result-test-case-list {
  margin: 0 auto;
  box-shadow: 0px 4px 4px 1px #151515;
  width: 80%;
  min-width: 650px;
}
.result-test-case-list .result-test-case {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr;
  margin: 0;
  width: 100%;
  height: 60px;
  background: #004876;
}
.result-test-case-list .result-test-case.alternate-color {
  background: #00588f;
}
.result-test-case-list .result-test-case * {
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
}

.result-language-name {
  width: 80%;
  min-width: 650px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.result-compile-error {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 650px;
  padding: 20px;
  background: #333;
  box-shadow: 0px 4px 4px 1px #151515;
}
.result-compile-error pre {
  white-space: pre-line;
}

.result-source-code {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 650px;
  max-width: 80%;
  display: block;
  box-shadow: 0px 4px 4px 1px #151515;
}
.result-source-code pre {
  font-size: 1rem;
}
.result-source-code pre .hljs-ln td {
  padding-right: 8px;
}
.result-source-code pre .hljs-ln-line {
  max-width: 200px !important;
}

.side-status {
  min-height: 100%;
}
.side-status.good-status {
  background-color: #50ff50;
}
.side-status.bad-status {
  background-color: #e90000;
}
.side-status.pending-status {
  background-color: #5050ff;
}

.submission-list {
  width: 80%;
  min-width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.submission-list .submission {
  display: grid;
  grid-template-columns: 32px 3fr 3fr 1fr 1fr 2fr;
  width: 100%;
  min-height: 60px;
  transition: background-color 150ms;
  background-color: #004876;
}
.submission-list .submission.alternate-color {
  background-color: #00588f;
}
.submission-list .submission:hover {
  background-color: #0067a9;
}
.submission-list .submission:hover.alternate-color {
  background-color: #0077c2;
}
.submission-list .submission div {
  text-align: center;
  line-height: 60px;
  font-size: 1.25rem;
}

.submissions-bottom-btn {
  width: 30%;
  min-height: 40px;
  margin: 20px auto 0px auto;
  background-color: #0067a9;
  color: white;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.7);
  transition: background-color 150ms;
}
.submissions-bottom-btn:hover {
  background-color: #0077c2;
}

.login-form {
  min-width: 700px;
  width: 40%;
  height: calc(100vh - 47px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-form form {
  padding: 20px;
  background-color: #444;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
}
.login-form form .login-header {
  text-align: center;
  font-size: 27pt;
  font-weight: 700;
}
.login-form form input[type=text], .login-form form input[type=password] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  background-color: #00588f;
  color: white;
  font-size: 1.3em;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.login-form form input[type=submit] {
  display: block;
  width: 50%;
  margin: 10px auto;
  margin-top: 30px;
  border: none;
  padding: 8px;
  font-size: 1.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: background-color 200ms;
  cursor: pointer;
  background-color: #0077c2;
}
.login-form form input[type=submit]:hover {
  background-color: #0096f5;
}
.login-form form .login-form-disclaimer {
  text-align: center;
}
.login-form form .login-form-disclaimer a {
  color: #8a8aff;
  text-decoration: underline;
}

.problem-list {
  min-width: 40%;
  max-width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.problem-list .listed-problem {
  display: grid;
  grid-template-columns: 32px 64px minmax(200px, 3fr) minmax(200px, 1fr) minmax(100px, 1fr);
  grid-template-rows: 60px 10px;
  line-height: 60px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #00588f;
  transition: background-color 150ms;
  margin-bottom: 40px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}
.problem-list .listed-problem .side-status {
  grid-row: 1/-1;
  grid-column: 1/1;
}
.problem-list .listed-problem:hover {
  background-color: #0077c2;
}
.problem-list .listed-problem .listed-problem-letter {
  text-align: center;
  line-height: 70px;
  background: #00385c;
  grid-row: 1/-1;
}
.problem-list .listed-problem .listed-problem-name {
  text-align: left;
  padding-left: 8px;
}
.problem-list .listed-problem .listed-problem-status {
  text-align: center;
  font-size: 1.2rem;
}
.problem-list .listed-problem .listed-problem-time-limit {
  text-align: right;
  padding-right: 8px;
  font-size: 1.2rem;
}
.problem-list .listed-problem .problem-stats-container {
  grid-column: 3/-1;
}

.problem-stats-container {
  width: 100%;
  min-height: 10px;
  float: left;
  font-size: 0;
  display: flex;
}
.problem-stats-container .problem-stats {
  position: relative;
  font-size: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-height: 10px;
  flex-grow: 1;
}
.problem-stats-container .problem-stats.correct-color {
  background: #00b600;
}
.problem-stats-container .problem-stats.wrong-color {
  background: #e90000;
}
.problem-stats-container .problem-stats.timed-out-color {
  background: #4444ff;
}
.problem-stats-container .problem-stats.other-color {
  background: #595959;
}
.problem-stats-container .problem-stats .problem-stats-tooltip {
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: default;
  font-size: 14px;
  padding: 5px 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: inherit;
  color: #fff;
  position: absolute;
  top: 0;
  left: calc(50% - 75px);
  opacity: 0;
  transition: opacity 30ms;
  z-index: 100;
}
.problem-stats-container .problem-stats:hover .problem-stats-tooltip {
  opacity: 100;
}

.my-account-container {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.my-account-container .failed-alert, .my-account-container .good-alert {
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20pt;
}
.my-account-container .good-alert {
  background-color: #50ff50;
  color: black;
}
.my-account-container .failed-alert {
  background-color: #ff5050;
  color: black;
}
.my-account-container .hidden {
  display: none;
}
.my-account-container .my-account-header {
  width: 100%;
  text-align: left;
  font-size: 24pt;
  margin-top: 10px;
}
.my-account-container label {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 16pt;
  margin-top: 20px;
}
.my-account-container input[type=text], .my-account-container input[type=password] {
  width: 100%;
  border: none;
  background: #00588f;
  color: white;
  border-radius: 4px;
  font-size: 20pt;
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.my-account-container input[type=text][readonly], .my-account-container input[type=password][readonly] {
  background: #00385c;
}
.my-account-container input[type=submit] {
  width: 50%;
  border: none;
  background: #00588f;
  color: white;
  border-radius: 4px;
  font-size: 16pt;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 50px;
  transition: background-color 200ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.my-account-container input[type=submit]:hover {
  background: #0077c2;
}

/*# sourceMappingURL=core.css.map */
