<% layout('/partials/master') %>

<h1 id="help" class="main-header" style="padding-bottom: 8px">Help</h1>

<div class="content">
<div class="help-page">
<h2 id="howtouse">How to use</h2>

<ol>
<li>Log in or sign up by clicking the button in the top right corner of the screen.</li>

<blockquote>
  If you have forgotten your password, click the "Reset your password" button on the login page.
</blockquote>
<li>Once logged in, click the <i>problems</i> tab to see the current list of problems. When you've spotted a problem that you want to attempt, click it to see details.</li>
<li>Once you have clicked a problem you will see a detailed description of the problem, as well as sample test cases at the bottom of the page. On the right side, you will see the problem statistics.</li>
<li>When you feel like you have a working solution to the problem you selected, click the yellow "Submit" button on the right side of the page.</li>
<li>From there, select the language you in which wrote your submission. </li>
<li>You can either upload a file, or "switch to editor" and paste your code there.</li>
<blockquote>If you upload a file and paste code into the editor, the pasted code will be used and the uploaded file will be discarded.</blockquote>
<li>Click "Submit". You will see your program be tested against the test cases for that problem. You will see the results of your submission once it:
<ul>
<li>Completes all test cases</li>

<li>Fails on a test case</li>

<li>Fails to compile</li></ul>
</li>

<li>If not all test cases passed, you can "Submit again", or go "Back to problem" to review the problem. If it did pass all the test cases, <i>Good job!</i></li>
</ol>

<div class="breaker"></div>
<h2 id="faqs">FAQ's</h2>

<p><em>What does a run-time error mean?</em></p>
<p>It means one of three things:</p>

<ol>
<li>Your program exited with a bad status code.</li>

<li>Your program tried to use system calls that are not allowed.</li>

<li>Your program alloted more memory than what was allowed (1024 MB).</li>
</ol>

<div class="spacer"></div>

<p><em>How are rankings computed?</em></p>
<p>Rankings are scored on two factors. The first one is how many problems you have solved. The more problems you solve, the higher on the leaderboard you will be. The second factor, is the total sum of the amount time each problem took you to solve. This is taken as the difference between the time you submitted your problem and the time the competition started. For example if you submitted 2 problems; One 30 minutes into the competitions, the other 60 minutes into the competition, the total time would be 90 minutes. The lower your total time, the higher on the leaderboard you will be.</p>

<div class="breaker"></div>
<h2 id="contactinfo">Contact Info</h2>

<p>If you have any other questions or concerns, feel me to contact me, Brendan Hansen, using one of the following:</p>
<div class="spacer"></div>

<blockquote>
    <p>Email: <a href="mailto:brendan.hansen@trojans.dsu.edu">brendan.hansen@trojans.dsu.edu</a></p>
    <br/>
    <p>Slack: @Brendan Hansen</p>
</blockquote>
</div>
</div>