<% layout('/partials/master') %>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/leaderboard_live_reload.js"></script>
<script type="text/javascript">
    window.LEADERBOARD_NICKNAME="<%= nickname %>";
</script>

<h1 class="content main-header">
    Leaderboard
</h1>

<div class="content leaderboard">
</div>