<% layout("/partials/problem") %>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/static/js/submission_result_live_reload.js" type="text/javascript"></script>

<div id="testdump">

</div>