<!DOCTYPE html>
<html>
    <head>
        <title>SUPER HOT</title>

        <link rel="stylesheet" type="text/css" href="/static/css/core.css" />
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>
    <body>
        <%include ./nav %>
        <main>
            <%- content %>
        </main>
    </body>
</html>