<!DOCTYPE html>
<html>
    <head>
        <title><%= page_title%></title>

        <link rel="stylesheet" type="text/css" href="/static/css/core.css" />
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript">window.FLASH_MESSAGE = "<%=flash_message%>"</script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>
    <body>
        <%include ./nav %>
        <main>
            <%- body %>
        </main>
    </body>
</html>