<div class="navbar">
    <ul>
        <li class=<%= navbar.selected_tab == 0 ? "selected" : ""%>>Leaderboard</li>
        <li class=<%= navbar.selected_tab == 1 ? "selected" : ""%>>Problems</li>
        <li class=<%= navbar.selected_tab == 2 ? "selected" : ""%>>Help</li>
    </ul>
</div>