<div class="navbar">
    <ul>
        <a href="/"><li class=<%= navbar.selected_tab == 0 ? "selected" : ""%>>Leaderboard</li></a>
        <a href="/problems"><li class=<%= navbar.selected_tab == 1 ? "selected" : ""%>>Problems</li></a>
        <a href="/submissions"><li class=<%= navbar.selected_tab == 2 ? "selected" : ""%>>Submissions</li></a>
        <a href="/help"><li class=<%= navbar.selected_tab == 3 ? "selected" : ""%>>Help</li></a>
    </ul>
</div>